body{
  color: hsla(50, 33%, 25%, .75);

}

.blue-text {
    color: #1e90ff;
}

.thin-blue-border {
    border-color: #1e90ff;
    border-width: 5px;
    border-style: solid;
  }

  .gray-background{
    background: hsla(50, 33%, 25%, .75);
  }
  .title-name{
    margin: 1.5em;
    padding: 1.5em;
  }

  [type='form']{
    margin: 10px 0px 15px 10px;
  }