body{
    height: 100%
}

.bg{
    background-image: url("/images/singapore-laptop.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic{
    width: 150px;
    height: 150px;
}

.white-box{
    background-color: whitesmoke;
    display: block;
    width: 40%;
}