body{
  background-color: rgb(135, 134, 132);

}

.cyan-text {
    color: rgb(33, 209, 194);
}

.thin-blue-border {
    border-color: #1e90ff;
    border-width: 5px;
    border-style: solid;
  }

  .gray-background{
    background-color:rgb(71, 70, 69);
  }
  .title-name{
    margin: 1.5em;
    padding: 1.5em;
    font-weight: bold;
    text-align: center;
  }
.fcc-profile{
  display: inline-block;
}

  [type='form']{
    margin: 10px 0px 15px 10px;
  }