.blue-text {
    color:blue;
}

.thin-blue-border {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
  }

  .gray-background{
      background-color: slategray;
  }
  .title-name{
    margin: 40px 20px 20px 40px;
    padding: 40px 20px 20px 40px;
  }

  [type='form']{
    margin: 10px 0px 15px 10px;
  }